@page "/editproduct/{productId}"

@inject NavigationManager NavigationManager
@inject IAddProductUseCase AddProductUseCase
@inject IGetProductByIdUseCase GetProductById
@inject IEditProductUseCase EditProductUseCase
@inject IViewCategoriesUseCase ViewCategoriesUseCase

<h3>Edit Product</h3>

@if (product != null)
{
    <EditForm Model="product" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" autofocus @bind-value="product.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="name">Category</label>
            <select id="categoryId" class="form-control" @bind="product.CategoryId">
                <option selected></option>
                @foreach (var cat in categories)
                {
                    <option value="@cat.CategoryId">@cat.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="name">Price</label>
            <input id="price" @bind-value="product.Price" class="form-control" />
        </div>

        <div class="form-group">
            <label for="qty">Quantity</label>
            <input type="number" id="qty" @bind-value="product.Quantity" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">cancel</button>
    </EditForm>
}

@code {
    [Parameter]
    public string ProductId { get; set; }

    private Product product;
    private IEnumerable<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        categories = ViewCategoriesUseCase.Execute();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (int.TryParse(this.ProductId, out int iProductID))
        {
            var pro = GetProductById.Execute(iProductID);
            this.product = new Product
            {
                CategoryId = pro.CategoryId,
                Name = pro.Name,
                Price = pro.Price,
                ProductId = pro.ProductId,
                Quantity = pro.Quantity
            };
        }
    }

    private void OnValidSubmit()
    {
        EditProductUseCase.Execute(product);
        NavigationManager.NavigateTo("/products");
    }
    private void OnCancel()
    {
        NavigationManager.NavigateTo("/products");
    }
}